@page
@model SetPasswordModel
@{
    Layout = "~/User/Views/Shared/_ProfileLayout.cshtml";
    ViewData["Title"] = "Set Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="py-5 container">
    <div class="card rounded-4 shadow">
        <div class="card-body p-4">

            <h2 class="fw-bold mb-4 text-center">Set Your Password</h2>

            <partial name="_StatusMessage" for="StatusMessage" />

            <form id="set-password-form" method="post">
                <div class="mb-3">
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3 small"></div>

                <button type="submit" class="btn btn-primary w-100">Set Password</button>
            </form>
            <a class="nav-link" asp-area="User" asp-controller="Profile" asp-action="Index">Get Back</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
