
    <style>
        .rating-start {
            font-size: 32px;
            color: #ccc;
            cursor: pointer;
            transition: color 0.3s;
        }

            .rating-start.selected {
                color: var(--star);
            }
    </style>


@model RiskChance.Models.DanhGiaStartup;

<div class="card p-2 mt-3 shadow-sm">
    <h6 class="h6 mb-2">Add comments</h6>

    <form method="post" asp-area="User" asp-controller="CommentStartup" asp-action="Create">
        <input type="hidden" asp-for="IDStartup" />
        <input type="hidden" asp-for="IDDanhGia" />

        <div class="rating mb-2">
            <i class="fa-solid fa-star rating-start" data-value="1"></i>
            <i class="fa-solid fa-star rating-start" data-value="2"></i>
            <i class="fa-solid fa-star rating-start" data-value="3"></i>
            <i class="fa-solid fa-star rating-start" data-value="4"></i>
            <i class="fa-solid fa-star rating-start" data-value="5"></i>
        </div>

        <input type="hidden" id="ratingValue" asp-for="DiemDanhGia" value="0">
        <span asp-validation-for="DiemDanhGia" class="text-danger"></span>

        <div class="mb-3">
            <textarea id="commentText"
                      class="form-control"
                      asp-for="NhanXet"
                      rows="3"
                      placeholder="Writing your comment"></textarea>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <button class="btn btn-primary fw-bold">Send Comment</button>
    </form>
</div>


     <script>
         document.addEventListener("DOMContentLoaded", function () {
             const stars = document.querySelectorAll('.rating-start');

             stars.forEach(star => {
                 star.addEventListener('mouseover', function () {
                     let value = this.getAttribute('data-value');
                     stars.forEach(s => {
                         s.classList.remove('selected');
                         if (s.getAttribute('data-value') <= value) {
                             s.classList.add('selected');
                         }
                     });
                 });

                 star.addEventListener('click', function () {
                     let value = this.getAttribute('data-value');
                     document.getElementById('ratingValue').value = value;
                 });

                 star.addEventListener('mouseleave', function () {
                     let selectedValue = document.getElementById('ratingValue').value;
                     stars.forEach(s => {
                         s.classList.remove('selected');
                         if (s.getAttribute('data-value') <= selectedValue) {
                             s.classList.add('selected');
                         }
                     });
                 });
             });
         });
     </script>

