@{
    ViewData["Title"] = "Startup Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/startup.css" asp-append-version="true" />
}

<div class="main-container row mt-4 mb-4 mx-auto">
    <!-- Startup -->
    <div class="startup-container col-md-8">
        <!-- Create poster startup -->
        <!-- Chỉ có startup mới hiện khung này -->
        <div class="post-container mt-3 mb-3 d-flex justify-content-center align-items-center">
            <div class="post-box d-flex justify-content-between align-items-center">
                <a href="#" class="text-decoration-none">
                    <div class="user-info d-flex justify-content-center align-items-center">
                        <img src="../assets/user/image.png"
                             alt="anh dai dien"
                             class="user-image rounded-circle" />
                        <p class="d-none d-lg-block">Name</p>
                    </div>
                </a>

                <a href="./createStartup.html" class="btn btn-primary fw-bold">
                    <p>Create Startup</p>
                </a>
            </div>
        </div>

        <!-- Outstanding startup -->
        <div class="outstanding-startups-container mt-4 mb-4">
            <h3 class="h3 mb-3 fw-bold">Outstanding Startups</h3>
            <section class="outstanding-list row mx-auto">
                <a href="#"
                   class="info-link col-md-6 mb-3 text-decoration-none mx-auto">
                    <div class="startup-card text-white"
                         style="
                  background-image: linear-gradient(
                      rgba(0, 0, 0, 0.5),
                      rgba(0, 0, 0, 0.5)
                    ),
                    url('https://picsum.photos/300/200');
                ">
                        <h5 class="fw-bold">Name</h5>
                        <p class="line-clamp-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Consequatur nemo voluptates dolor quas in voluptatibus omnis
                            assumenda modi? Inventore veritatis culpa corrupti, a
                            consequuntur excepturi eum fuga ea quidem alias. Tenetur unde
                            assumenda accusantium illo repudiandae necessitatibus
                            molestias tempore sequi, numquam totam quos voluptatum nisi
                            itaque adipisci fugit quod ipsam doloremque? Animi incidunt
                            doloribus consectetur voluptate eos. Porro, vitae esse.
                        </p>
                    </div>
                </a>

                <a href="#"
                   class="info-link col-md-6 mb-3 text-decoration-none mx-auto">
                    <div class="startup-card text-white"
                         style="
                  background-image: linear-gradient(
                      rgba(0, 0, 0, 0.5),
                      rgba(0, 0, 0, 0.5)
                    ),
                    url('https://picsum.photos/300/200');
                ">
                        <h5 class="fw-bold">Name</h5>
                        <p class="line-clamp-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Consequatur nemo voluptates dolor quas in voluptatibus omnis
                            assumenda modi? Inventore veritatis culpa corrupti, a
                            consequuntur excepturi eum fuga ea quidem alias. Tenetur unde
                            assumenda accusantium illo repudiandae necessitatibus
                            molestias tempore sequi, numquam totam quos voluptatum nisi
                            itaque adipisci fugit quod ipsam doloremque? Animi incidunt
                            doloribus consectetur voluptate eos. Porro, vitae esse.
                        </p>
                    </div>
                </a>

                <a href="#"
                   class="info-link col-md-6 mb-3 text-decoration-none mx-auto">
                    <div class="startup-card text-white"
                         style="
                  background-image: linear-gradient(
                      rgba(0, 0, 0, 0.5),
                      rgba(0, 0, 0, 0.5)
                    ),
                    url('https://picsum.photos/300/200');
                ">
                        <h5 class="fw-bold">Name</h5>
                        <p class="line-clamp-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Consequatur nemo voluptates dolor quas in voluptatibus omnis
                            assumenda modi? Inventore veritatis culpa corrupti, a
                            consequuntur excepturi eum fuga ea quidem alias. Tenetur unde
                            assumenda accusantium illo repudiandae necessitatibus
                            molestias tempore sequi, numquam totam quos voluptatum nisi
                            itaque adipisci fugit quod ipsam doloremque? Animi incidunt
                            doloribus consectetur voluptate eos. Porro, vitae esse.
                        </p>
                    </div>
                </a>

                <a href="#"
                   class="info-link col-md-6 mb-3 text-decoration-none mx-auto">
                    <div class="startup-card text-white"
                         style="
                  background-image: linear-gradient(
                      rgba(0, 0, 0, 0.5),
                      rgba(0, 0, 0, 0.5)
                    ),
                    url('https://picsum.photos/300/200');
                ">
                        <h5 class="fw-bold">Name</h5>
                        <p class="line-clamp-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Consequatur nemo voluptates dolor quas in voluptatibus omnis
                            assumenda modi? Inventore veritatis culpa corrupti, a
                            consequuntur excepturi eum fuga ea quidem alias. Tenetur unde
                            assumenda accusantium illo repudiandae necessitatibus
                            molestias tempore sequi, numquam totam quos voluptatum nisi
                            itaque adipisci fugit quod ipsam doloremque? Animi incidunt
                            doloribus consectetur voluptate eos. Porro, vitae esse.
                        </p>
                    </div>
                </a>
            </section>
        </div>

        <!-- Search -->
        <div class="search-container d-flex justify-content-center mt-4 mb-4 container">
            <div class="search-box position-relative">
                <input type="text"
                       class="form-control search-input"
                       placeholder="Tên startup bạn cần tìm" />
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </div>
        </div>

        <!-- Startup list -->
        <div class="startup-list-container mt-4 mb-4">
            <h3 class="h3 mb-3 fw-bold">Startup List</h3>
            <section class="startup-list row g-3" id="startup-container">
                <!-- Dữ liệu từ AJAX sẽ load vào đây -->
            </section>

            <!-- Loading more -->
            <div id="load-more-trigger" class="mt-3 text-center">
                <div class="spinner-border"></div>
            </div>
        </div>
    </div>
    <!-- Sidebar -->
    <aside class="sidebar-container col-md-4">
        <!-- Các lĩnh vực top đầu -->
        <div class="top-fields-container mx-auto">
            <h4 class="h4 mb-3 fw-bold">Top Business</h4>
            <section class="top-fields-list">
                <a href="#" class="field-link text-decoration-none">
                    <div class="field-card d-flex justify-content-between">
                        <h5 class="fw-bold">Công nghệ AI</h5>
                        <p class="text-muted d-block d-md-none d-lg-none d-xl-block">
                            100 startups
                        </p>
                    </div>
                </a>

                <a href="#" class="field-link text-decoration-none">
                    <div class="field-card d-flex justify-content-between">
                        <h5 class="fw-bold">Công nghệ AI</h5>
                        <p class="text-muted d-md-none d-lg-none d-xl-block">
                            100 startups
                        </p>
                    </div>
                </a>
            </section>
        </div>

        <!-- Top investor -->
        <div class="top-investors-container mb-4 mt-4 mx-auto">
            <h4 class="h4 fw-bold">Top Investors</h4>
            <section class="top-investor-list">
                <a href="#"
                   class="user-link text-decoration-none d-flex align-items-center justify-content-between">
                    <div class="user-container d-flex justify-content-center align-items-center">
                        <img class="user-image rounded-circle"
                             src="../assets/user/image.png"
                             alt="user img" />
                        <p>Name</p>
                    </div>

                    <div class="d-md-none d-lg-none d-xl-block">
                        <p>Number of projects: 5</p>
                        <p>Profit: 100.000.000 VND</p>
                    </div>
                </a>

                <a href="#"
                   class="user-link text-decoration-none d-flex align-items-center justify-content-between">
                    <div class="user-container d-flex justify-content-center align-items-center">
                        <img class="user-image rounded-circle"
                             src="../assets/user/image.png"
                             alt="user img" />
                        <p>Name</p>
                    </div>

                    <div class="d-md-none d-lg-none d-xl-block">
                        <p>Number of projects: 5</p>
                        <p>Profit: 100.000.000 VND</p>
                    </div>
                </a>
            </section>
        </div>

        <!-- detail -->
        <div id="detailStartup"></div>
    </aside>
</div>

@section Scripts {
    <script src="~/js/loadStartup.js" asp-append-version="true"></script>
}