<!-- Popup Messenger -->
<div class="modal fade"
     id="messengerModal"
     aria-labelledby="messengerModalLabel"
     data-bs-backdrop="false"
     data-bs-keyboard="false"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messengerModalLabel">Messenger</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Danh sách người dùng -->
                    <div class="col-md-3 col-sm-4 border-end">
                        <input type="text"
                               class="form-control mb-2"
                               id="searchUser"
                               placeholder="Tìm kiếm..." />

                        <div id="userList">
                            @* Them danh sach ban be *@
                        </div>
                 
                    </div>
                    <!-- Tin nhắn -->
                    <div class="col-md-9 col-sm-8 d-flex flex-column">
                        <!-- Thông tin người nhận -->
                        <div id="receiverInfo" class="receiver-info d-flex align-items-center p-2 border-bottom">
                            @* thong tin nguoi dung *@
                        </div>
                        <!-- Nội dung chat -->
                        <div id="chatBox">
                            @*  tin nhan *@
                        </div>

                        <!-- Ô nhập tin nhắn -->
                        <div class="p-2 border-top">
                            <form method="post" class="input-group">
                                <input type="hidden" id="receiverId" />
                                <textarea class="form-control"
                                          
                                          id="messageInput"
                                          placeholder="Nhập tin nhắn..."
                                          rows="1"></textarea>

                                <button class="btn btn-primary" id="sendMessageBtn">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </button>
                                <button class="btn btn-success" id="sendMessageBtn">
                                    <i class="fa-solid fa-file-import"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
