@model List<RiskChance.Models.Startup>
@if (Model != null)
{
    @foreach (var startup in Model)
    {
        <div class="col-lg-4 col-md-6 col-12 startup-item">
            <div class="startup-card">
                <img class="startup-image"
                     src="@startup.LogoUrl"
                     alt="Startup Image" />

                <div class="startup-info">
                    <h5 class="fw-bold">@startup.TenStartup</h5>
                    <p class="text-muted mb-2">@startup.LinhVuc?.TenLinhVuc</p>

                    <a asp-controller="Startup" asp-action="Details" asp-route-id="@startup.IDStartup" class="btn btn-outline-primary btn-sm fw-bold">
                        Startup
                    </a>

                    <a class="btn btn-outline-success btn-sm fw-bold">
                        Invest
                    </a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div>
        <h3 class="h3 text-center fw-bold text-danger">
            Không có thông tin bạn cần kiếm
        </h3>
    </div>
}