@{
    ViewData["Title"] = "News Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/news.css" asp-append-version="true" />
}

<!-- News container -->
<div class="news-container col-md-8">
    <!-- Dang bai -->
    <div class="post-container mt-3 mb-3 d-flex justify-content-center align-items-center">
        <div class="post-box d-flex justify-content-between align-items-center">
            <a href="./detailNews.html" class="text-decoration-none">
                <div class="user-info d-flex justify-content-center align-items-center">
                    <img src="../assets/user/image.png"
                         alt="anh dai dien"
                         class="user-image rounded-circle" />
                    <p class="d-none d-lg-block">Name</p>
                </div>
            </a>

            <a asp-action="Add" class="btn btn-primary fw-bold">
                <p>Post news</p>
            </a>
        </div>
    </div>

    <!-- Search -->
    <div class="search-container d-flex justify-content-center mt-4 mb-4 container">
        <div class="search-box position-relative">
            <input type="text"
                   class="form-control search-input"
                   placeholder="Tìm kiếm..." />
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
    </div>

    <!-- Các từ khóa nổi bật -->
    <div class="keyword-container mt-4 d-none d-lg-block container">
        <h3 class="mb-3 fw-bold text-center">Popular Keyword</h3>
        <ul class="keyword-box d-flex justify-content-center gap-3 flex-wrap">
            <!-- Cái này sẽ dò trên lịch sử tìm kiếm để có thể in ra -->
            @if (ViewBag.TopHashtags != null)
            {
                @foreach (var hashtag in ViewBag.TopHashtags)
                {
                    <li class="keyword-item">#@hashtag.Name (@hashtag.Count)</li>
                }
            }
        </ul>
    </div>

    <!-- Danh sach tin tuc -->
    <div class="news-list-container">
        <section class="news-list">
            <!-- News list -->
            <section class="news-list row" id="newsContainer">
                <!-- News 1 -->
                
                
                
            </section>
            <!-- Loading more -->
            <div id="load-more-trigger" class="mt-3 text-center">
                <div class="spinner-border"></div>
            </div>
        </section>
    </div>
</div>
<!-- aside -->
<aside class="sidebar-container col-md-4"></aside>

<script>

</script>