@model IEnumerable<NguoiDung>

@if (Model.Any() && Model != null)
{
    @foreach (var friend in Model)
    {
        <li class="nav-item">
            <a href="#" class="nav-link container-fluid"
               onclick="getMessage('@friend.Id')" style="font-size: 14px">
                @friend.HoTen
            </a>
        </li>
    }
}
else
{
    <li class="nav-item"><p>Find your friend</p></li>
}