@model IEnumerable<RiskChance.Models.TinNhan>

@{
    var currentUserId = Context.Session.GetString("UserId");
}

@if (Model.Any() && Model != null)
{
    @foreach (var mess in Model)
    {
        if (mess.IDNguoiGui == currentUserId)
        {
            <!-- Tin nhắn của A (bên trái) -->
            <div class="mess-box mb-2 sender d-flex justify-content-end">
                <div class="p-2 bg-primary text-white rounded">
                    <p>@mess.NoiDung</p>
                </div>
            </div>
        }
        else
        {
            <!-- Tin nhắn của B (bên phải) -->
            <div class="mess-box mb-2 receive d-flex justify-content-start">
                <div class="p-2 bg-light rounded">
                    <p>
                        @mess.NoiDung
                    </p>
                </div>
            </div>
        }
    }
}
else
{
    <p class="text-muted">Chưa có tin nhắn</p>
}


