.bs-data-item {
    padding: 10px;
}
    .chart-startup-data {
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
        background-color: #fff;
        max-width: 800px;
        margin: 30px auto;
        margin-left: 30px
    }

.chart-startup-data-header {
    padding: 10px 15px;
}

    .chart-startup-data-header h4 {
        color: #375cb3;
    }

.chart-startup-data-footer {
    font-size: 14px;
    color: #6c757d;
    font-style: italic;
    text-align: center;
    padding: 10px 12px;
    border-top: 1px solid #dee2e6;
    background: linear-gradient(to right, #f8f9fa, #ffffff);
    border-radius: 0 0 8px 8px;
}

.canvas-wrapper {
    width: 100%;
    padding: 10px;
}

#contractStatusChart {
    width: 100% !important;
    height: auto !important;
    min-height: 200px !important;
    max-height: 250px !important;
}

#startupChart, #startupLinhVucChart {
    width: 100% !important;
    height: auto !important;
    min-height: 300px !important;
    max-height: 400px !important;
}
